body{
    background-color: blueviolet;
    color: black;
}
h3{
    text-align: center;
}
nav{
    background-color: blanchedalmond;
}
.primeiro-titulo{
    color: black;
    text-align: center;
    background-color: bisque;
    padding: 20px;
    margin: 20px;
}
a{
    color: blueviolet;
}
header{
    color: blue;
}
