body{
    background-color: blueviolet;
    color: black;
}
h3{
    text-align: center;
}
nav{
    background-color: blanchedalmond;
}

.primeiro-titulo{
    color: black;
    text-align: center;
    background-color: bisque;
    padding: 20px;
    margin: 20px;
}
a{
    color: blueviolet;
    padding: ;

}
header{
    color: blue;
}

p{
    text-align: center;
    color: aliceblue;
    background-color: black;
    margin: 0;
    padding: 0;
}
a:hover{
    color: blueviolet;
    text-decoration: underline;
}
